.header{
    text-align: center;
}

.page {
    background-color: antiquewhite;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.button {
    text-align: center;
}